@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the internet home of our favorite dog, Hank.</p>
</div>

<br />
<br />
<img src="~/Hank_Nov11_2020.jpg" height="450" />
<img src="~/hank3.jpg" height="450" />
<br />
<br />
<img src="~/hanhysummer2020.jpg" height="450" />
<img src="~/hank_lookup.jpg" height="450" />
<br />
<br />
<img src="~/Hank_Nov2020.jpg" height="550" />